<script>
	import Konva from 'konva';
	import { getContext, onDestroy, setContext, createEventDispatcher } from 'svelte';
	import { STAGEKEY, LAYERKEY } from './contextKeys';

	// export let draggable = undefined;

	const dispatch = createEventDispatcher();

	const { getStage } = getContext(STAGEKEY);
	const stage = getStage();
	const layer = new Konva.Layer($$props);

	$: if (layer) layer.setAttrs($$props);

	layer.on('dragmove click mousedown', (e) => {
		dispatch(e.type, e);
	});

	stage.add(layer);

	setContext(LAYERKEY, layer);

	onDestroy(() => {
		layer.destroy();
	});
</script>

<slot />
