<script context="module">
	let totalButtons = 0;

	export function getTotalButtons() {
		return totalButtons;
	}
</script>

<script>
	import { onDestroy } from 'svelte';

	export let size = 'sm';
	export let shadow = false;

	let isLeftHovered = false;

	totalButtons += 1;

	onDestroy(() => {
		totalButtons -= 1;
	});
</script>

{totalButtons}

<button class={`size-${size}`} class:shadow class:has-left={$$slots.leftContent} {...$$restProps}>
	{#if $$slots.leftContent}
		<div
			class="left-content"
			on:mouseenter={() => (isLeftHovered = true)}
			on:mouseleave={() => (isLeftHovered = false)}
		>
			<slot name="leftContent" />
		</div>
	{/if}
	<slot {isLeftHovered} x="y">Fallback text</slot>
</button>

<style lang="scss">
	button {
		display: flex;
		column-gap: 0.5rem;
		align-items: center;
		padding: 0.5rem 1rem;
		background: vars.$color;
		font-weight: bold;
		border-radius: 5px;
		border: none;

		&.size-sm {
			padding: 0.5rem 1rem;
		}

		&.size-lg {
			padding: 1rem 2rem;
			font-size: 2rem;
		}

		&.shadow {
			box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}

		&:hover:not(:disabled) {
			background: #000;
			color: white;
			cursor: pointer;
		}
	}
</style>
