<script>
  export let initialCount = 0
  export let maxCount = undefined

  console.log($$props, $$restProps)

  let count = initialCount

  function increment() {
    if (count === maxCount) {
      return
    }
    count++
  }

  $: string = `You clicked ${count} times.`

  $: {
    if (count > 5) {
      console.log(`You clicked ${count} times.`)
    }
  }
</script>

<button on:click={increment}>🪴</button>
<h3>{string}</h3>

<style>
  button {
    background: #eee;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 50%;
  }
  button:hover {
    cursor: pointer;
  }
</style>