<script>
	import settings from './stores/settings';
</script>

<svelte:head>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
		rel="stylesheet"
	/>

	{#if $settings.colorScheme === 'dark'}
		<style>
			:root {
				--backgroundColor: #282828;
				--textColor: white;
			}
		</style>
	{:else}
		<style>
			:root {
				--backgroundColor: #fff;
				--textColor: #282828;
			}
		</style>
	{/if}
</svelte:head>
