<svelte:options immutable={true} />

<script>
	import { createEventDispatcher, beforeUpdate, afterUpdate } from 'svelte';
	import FaRegTrashAlt from 'svelte-icons/fa/FaRegTrashAlt.svelte';
	import { scale, crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';
	import Button from './Button.svelte';

	export let todos,
		error = null;
	export let isLoading = false;
	export let disableAdding = false;
	export let disabledItems = [];
	export let scrollOnAdd = undefined;

	$: done = todos ? todos.filter((t) => t.completed) : [];
	$: todo = todos ? todos.filter((t) => !t.completed) : [];

	let prevTodos = todos;
	let inputText = '';
	let inputEl, listEl, autoScroll, listDivHeight, listDivScrollHeight;

	const dispatch = createEventDispatcher();
	const [send, receive] = crossfade({
		duration: 400,
		fallback: (node) => {
			return scale(node, { start: 0.5, duration: 300 });
		}
	});

	$: {
		autoScroll = todos && prevTodos && todos.length > prevTodos.length;
		prevTodos = todos;
	}

	export function clearInput() {
		inputText = '';
	}

	export function focusInput() {
		inputEl.focus();
	}

	beforeUpdate(() => {
		if (listEl) {
			console.log(listEl.offsetHeight);
		}
	});

	afterUpdate(() => {
		if (scrollOnAdd) {
			let posY;
			if (autoScroll) {
				// listEl.scrollTo(0, listEl.scrollHeight);
				if (scrollOnAdd === 'top') posY = 0;
				if (scrollOnAdd === 'bottom') posY = listDivScrollHeight;
				listEl.scrollTo(0, posY);
				autoScroll = false;
			}
		}
	});

	function handleAddTodo() {
		const isNotCancelled = dispatch(
			'addtodo',
			{
				title: inputText
			},
			{ cancelable: true }
		);

		if (isNotCancelled) {
			inputText = '';
		}
	}

	function handleRemoveTodo(id) {
		dispatch('removetodo', { id });
	}

	function handletoggleTodo(id, value) {
		dispatch('toggletodo', {
			id,
			value
		});
	}
</script>

<div class="todo-wrapper">
	<form class="add-todo-form" on:submit|preventDefault={handleAddTodo}>
		<input
			bind:this={inputEl}
			bind:value={inputText}
			placeholder="Todo title"
			disabled={disableAdding || !todos}
		/>
		<Button disabled={!inputText || disableAdding || !todos} size="sm" type="submit">Add</Button
		>
	</form>

	{#if isLoading}
		<p class="state-text">Loading...</p>
	{:else if error}
		<p>{error}</p>
	{:else if todos}
		<div class="todo-list" bind:offsetHeight={listDivHeight} bind:this={listEl}>
			<div bind:offsetHeight={listDivScrollHeight}>
				{#if todos.length === 0}
					<p class="state-text">Nothing to do.</p>
				{:else}
					<div style:display="flex">
						{#each [todo, done] as list, index}
							<div class="list-wrapper">
								<h2>{index === 0 ? 'Todo' : 'Done'}</h2>
								<ul>
									{#each list as todo, index (todo.id)}
										{@const { id, completed, title } = todo}
										<li animate:flip={{ duration: 300 }}>
											<slot {todo} {index} {handletoggleTodo}>
												<div
													in:receive|local={{ key: id }}
													out:send|local={{ key: id }}
													class:completed
												>
													<label>
														<input
															type="checkbox"
															disabled={disabledItems.includes(id)}
															on:input={(e) => {
																e.currentTarget.checked = completed;
																handletoggleTodo(id, !completed);
															}}
															checked={completed}
														/>
														<slot name="title">{title}</slot>
														<button
															aria-label="Remove Todo: {title}"
															class="remove-todo-button"
															disabled={disabledItems.includes(id)}
															on:click={() => handleRemoveTodo(id)}
														>
															<span style:display="inline-block">
																<FaRegTrashAlt />
															</span>
														</button>
													</label>
												</div>
											</slot>
										</li>
									{/each}
								</ul>
							</div>
						{/each}
					</div>
				{/if}
			</div>
		</div>
	{/if}
</div>

<style lang="scss">
	/* :global(body) {
		background-color: black;
	} */

	.todo-wrapper {
		.todo-list {
			scroll-behavior: smooth;
			max-height: 400px;
			overflow: auto;
			border: 1px solid white;
			background-color: black;

			.list-wrapper {
				flex: 1;
				padding: 0.5rem 1rem;
				margin: 0;
				margin-bottom: 1rem;

				ul {
					margin: 0;
					padding: 0;
					list-style: none;

					li > div {
						margin-bottom: 0.05rem;
						display: flex;
						align-items: center;
						background-color: white;
						color: black;
						padding: 0.5rem;
						position: relative;

						label {
							width: calc(100% - 2rem);
							cursor: pointer;
							font-size: 1.2rem;
							display: flex;
							align-items: baseline;

							input[type='checkbox'] {
								margin: 0 0.5rem 0 0;
								cursor: pointer;

								&:disabled {
									opacity: 0.5;
									cursor: not-allowed;
								}
							}
						}

						.state-text {
							margin: 0;
							padding: 1rem;
							text-align: center;
						}
					}

					.remove-todo-button {
						width: 1.5rem;
						cursor: pointer;
						border-radius: 50%;
						border: none;
						background: transparent;
						position: absolute;
						right: 0.5rem;
						display: none;

						&:disabled {
							opacity: 0.2;
							cursor: not-allowed;
						}

						:global(svg) {
							fill: red;
						}
					}

					&:hover {
						.remove-todo-button {
							display: block;
						}
					}

					&.completed > label {
						opacity: 0.5;
						text-decoration: line-through;
					}
				}
			}
		}

		.add-todo-form {
			padding: 1rem;
			background-color: white;
			display: flex;
			column-gap: 1rem;
			row-gap: 1rem;
			column-gap: 1rem;
			border-top: 4px solid salmon;
			flex-wrap: wrap;

			input {
				flex: 1;
				border: 2px solid salmon;
				padding: 0.5rem;
				border-radius: 1px;
			}
		}
	}
</style>
