<script context="module">
	let allVideos = new Set();

	export function playAll() {
		allVideos.forEach((video) => {
			video.play();
		});
	}

	export function pauseAll() {
		allVideos.forEach((video) => {
			video.pause();
		});
	}
</script>

<script>
	import { onDestroy, onMount } from 'svelte';

	export let src = undefined;

	let video;
	let paused = true;

	onMount(() => {
		allVideos.add(video);
	});

	onDestroy(() => {
		allVideos.delete(video);
	});
</script>

<!-- svelte-ignore a11y-media-has-caption -->
<video {src} class:playing={!paused} controls bind:this={video} bind:paused />

<style lang="scss">
	video {
		width: 100%;
		opacity: 0.5;

		&.playing {
			outline: 5px solid salmon;
			opacity: 1;
		}
	}

	.wrapper {
		display: flex;
		gap: 1rem;
		justify-content: space-between;

		button {
			width: 100%;
			font-weight: bold;
			background-color: transparent;
			box-shadow: none;
			border: none;
			color: salmon;
			padding: 0.5rem 1rem;

			&:hover {
				cursor: pointer;
			}
		}

		p {
			margin: 0 0 1rem 0;
		}
	}
</style>
