<script>
	import VideoPlayer, { playAll, pauseAll } from '../VideoPlayer.svelte';
</script>

<button on:click={playAll}>Play all</button>
<button on:click={pauseAll}>Pause all</button>

<VideoPlayer src={'baloo.mp4'} />
<VideoPlayer src={'baloo.mp4'} />
<VideoPlayer src={'baloo.mp4'} />
