<script>
	import settings from '../stores/settings';
	import direction from '../stores/direction';
</script>

<h2>Settings</h2>

<button
	on:click={() => {
		settings.toggleColorScheme();
	}}
>
	Toggle Color Scheme
</button>

<hr />

<label>
	Update language: <select bind:value={$settings.language}>
		<option value="en">English</option>
		<option value="ar">Arabic</option>
	</select>
</label>

<p>Language: {$settings.language} <span><em>({$direction})</em></span></p>

<hr />

<label>
	<input type="radio" name="colorScheme" value="dark" bind:group={$settings.colorScheme} /> Dark
	<input type="radio" name="colorScheme" value="light" bind:group={$settings.colorScheme} /> Light
</label>

<hr />

<button on:click={() => settings.reset()}> Reset settings </button>

<style>
	hr {
		margin: 2rem auto;
	}
</style>