:root {
	/* background-color: #282828;
	color: #eee; */
	--buttonBgColor: salmon;
	--buttonTextColor: black;
	--fontSerif: 'Merriweather', serif;
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	font-family: var(--fontSerif);
}

* {
	box-sizing: border-box;
}
