<script>
	import { v4 as uuid } from 'uuid';
	import { getContext, onMount, hasContext, getAllContexts } from 'svelte';
	import FORMKEY from './form-key';

	console.log(hasContext(FORMKEY));
	console.log(getAllContexts());

	export let name;
	export let type = 'text';
	export let password;
	export let email;
	export let label = undefined;
	export let validate = undefined;

	let isDirty = false;

	const formStore = getContext(FORMKEY);

	const id = uuid();

	onMount(() => {
		if (validate && validate($formStore.values[name])) {
			$formStore.errors[name] = validate($formStore.values[name], $formStore.values[label]);
		}
	});
</script>

<div class="field">
	{#if label}
		<label for={id}>{label}</label>
		<input
			on:input={(e) => {
				isDirty = true;
				const value = e.currentTarget.value;

				if (validate && validate(value)) {
					$formStore.errors[name] = validate(value, label);
				} else {
					delete $formStore.errors[name];
				}
				$formStore.values[name] = e.currentTarget.value;
			}}
			{id}
			{name}
			{type}
			placeholder={label}
			value={$formStore.values[name] || ''}
		/>
	{/if}
	{#if ($formStore.errors[name] && isDirty) || $formStore.showErrors}
		<!-- {#if $formStore.errors[name] && $formStore.showErrors} -->
		<!-- <p class="error">{$formStore.errors[name]}</p> -->
		<slot name="error" error={$formStore.errors[name]}>
			<p class="error">{$formStore.errors[name]}</p>
		</slot>
	{/if}
</div>

<style lang="scss">
	div.field {
		display: flex;
		column-gap: 0.5rem;
		margin: 1rem auto;
		flex-wrap: wrap;

		label {
			display: block;
		}

		input {
			height: 2rem;
			width: 100%;
		}

		.error {
			color: red;
			font-size: 0.85rem;
			margin-bottom: 0.5rem;
		}
	}
</style>
